/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.navbar {
    background-color: #333;
}

#navbar h1 {
    color: #eee;
}

.navbar-brand {
    padding-top: 0px;
}

.navbar-nav > li > a {
    padding-top: 30px;
}

.navbar ul.nav > li > a {
    text-transform: capitalize;
    text-decoration: none;
    font-weight: normal;
    color: #666;
}

.navbar ul.nav > li > a:hover {
    border-top: solid 5px transparent;
    color: #aaa;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
}

.home-carousel {
    background: none;
}

.home-carousel .dark-mask {
    background: #000000;
}

.home-carousel h2 {
    font-size: 24px;
}

.home-carousel p {
    font-size: 14px;
}

section {
    margin-bottom: 0px;
}

#content.portfolio {
    margin-top: -40px;
    padding-top: 20px;
    background-color: black;
}

#blog-post img {
    float: left;
    margin: 0px 12px 12px 0px;
}

#footer a {
    color: #cccccc;
}

#footer a:hover {
    color: #cccccc;
}
 
#copyright {
    font-size: 66%;
    padding: 12px 0;
}
