<head>
    <title>Michael Rowe – Lighting Design</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ relURL ($.Site.BaseURL) }}css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="100x100" href="/images/favicon-100x100.png">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
