<div class="header-wrapper">
    <h1><a href="{{ relURL ($.Site.BaseURL) }}">Michael Rowe – Lighting Design</a></h1>
    <p class="hero">
        lighting design and consulting services for professional, community, and school theatre productions
    </p>
    <div id="nav">
        <ul>
            <li><a href="{{ relURL ($.Site.BaseURL) }}#about">About</a></li>
            <li><a href="{{ relURL ($.Site.BaseURL) }}resume">Resume</a></li>
            <li><a href="{{ relURL ($.Site.BaseURL) }}design-notes">Design Notes</a></li>
            <li><a href="{{ relURL ($.Site.BaseURL) }}#contact">Contact</a></li>
        </ul>
    </div>
</div>