{{ define "main" }}

<div class="image-wrapper">
    {{ range where .Site.RegularPages "Section" "portfolio" }}
    <p>
        {{ with .Params.Gallery }}<a href="{{ . }}">{{ end }}
          <img src="media/{{ .Params.image }}" />
        {{ with .Params.gallery }}</a>{{ end }}
        <span class="caption">
          {{ with .Params.title }}<strong>{{ . }}</strong>, {{ end }}
          {{ with .Params.date }}{{ dateFormat "2006" . }}. {{ end }}
          {{ with .Params.dirtector }}Directed by {{ . }}. {{ end }}
          {{ with .Params.designer }}Designed by {{ . }}. {{ end }}
          {{ with .Params.costumes }}Costumes by {{ . }}. {{ end }}
          {{ with .Params.producer }}<em>{{ . }}</em>. {{ end }}
          {{ with .Params.venue }}{{ . }}. {{ end }}
          Lighting by Michael Rowe.
        </span>
      </p>
    {{ end }}
  </div>

<div class="note-wrapper">
    <h2 id="about">About</h2>
    <p><img src='/images/me.jpg'></p>
    <p>I have been involved in theatre and stage production since a very early age when I “helped” my father with his
      community and church lighting projects. In high school I was heavily involved in the then-new purpose built
      theatre, including helping design and operate the lighting for numerous school productions and external concerts.
    </p>
    <p>Having been bitten by the bug, I soon became involved in the amateur theatre scene in Melbourne, and spent many
      years crewing and designing musicals. I was able to use this experience to find employment on a number of major
      commercial productions, including The Phantom of the Opera, The New Rocky Horror Show, and 42nd Street for the
      Australian tours.</p>
    <p>After a few years break to raise a family, I am now rekindling my love of theatre and lighting.</p>
  </div>

{{ end }}
